﻿
@model NMEX_Manufacturing_KPIs.Models.Module_Inventory.LocationCreationViewModel
@{
    ViewData["Title"] = "New Location";
}

<h1>New Location</h1>

<form asp-controller="Inventory" asp-action="CreateLocation">

    <div class="mb-3">
        <label asp-for="Location_description" class="form-label">Location description</label>
        <input type="text" asp-for="Location_description" class="form-control" />
        <span asp-validation-for="Location_description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Plant_id" class="form-label">Plant</label>
        <select asp-for="Plant_id" asp-items="Model.Plants" class="form-select"></select>
        <span asp-validation-for="Plant_id" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Send</button>
    <a class="btn btn-secondary" asp-action="Location">Cancel</a>
   
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}