﻿
@model NMEX_Manufacturing_KPIs.Models.Module_Inventory.Inventory

@{
    ViewData["Title"] = "Delete Inventory";
}


<h3 class="mb-3">Are you sure you want to delete the item?</h3>

<form asp-controller="Inventory" asp-action="DeleteInventoryRecord">
    <input type="hidden" asp-for="Inventory_Id">
    <button class="btn btn-danger" type="submit">Delete</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>
