﻿
@model NMEX_Manufacturing_KPIs.Models.Module_Inventory.Model

@{
    ViewData["Title"] = "Delete Model";
}

<h3 class="mb-3">Are you sure you want to delete the item?</h3>

<form asp-controller="Inventory" asp-action="DeleteRecordModel">
    <input type="hidden" asp-for="Model_id">
    <button class="btn btn-danger" type="submit">Delete</button>
    <a class="btn btn-secondary" asp-action="Model">Cancel</a>
</form>
