﻿
@model NMEX_Manufacturing_KPIs.Models.Module_Inventory.DeviceType
@{
    ViewData["Title"] = "Edit Device Type";
}

<h1>Edit Device Type</h1>

<form asp-controller="Inventory" asp-action="EditDeviceType">
    <input type="hidden" asp-for="D_type_id">
    <div class="mb-3">
        <label asp-for="D_type_description" class="form-label">Device Type description</label>
        <input type="text" asp-for="D_type_description" class="form-control" />
        <span asp-validation-for="D_type_description" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
    <a class="btn btn-secondary" asp-action="DeviceType">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}